<div class="bg-hero md:py-32">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
            <div class="col-span-1">
                <h1 class="text-6xl text-white font-bold tracking-tighter leading-tight	">Get busiess<br> solution with <br> Noren.</h1>
                <p class="text-sm leading-tight	font-light">Power your business to new heights with our award-<br>winning digital marketing services and
                    technology<br> platform.</p>
                <button class="mt-10 font-bold text-xl">Get Started</button>
            </div>
            <div class="col-span-1">
                <img src="../assets/images/hero-top.webp">
            </div>
        </div>
    </div>
</div>

